.audio-gallery {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  justify-content: flex-start; */
  gap: 30px;
}

.audio-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

@media (max-width: 768px) {
  .podcast {
    width: 230px;
    height: 240px;
  }
}

@media (max-width: 480px) {
  .audio-details h3 {
    font-size: 15px;
  }
  .audio-details h3 {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
}
