.audio-gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.audio-details {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.text {
  color: #5e5e5f;
  font-size: 16px;
  text-align: center;
  margin: 0 7%;
}

@media (max-width: 768px) {
}
.audio-gallery {
  padding: 20px;
  width: 100%;
}
.audio-details {
  gap: 10px;
}
.podcast {
  width: 230px;
  height: 152px;
}

@media (max-width: 480px) {
  .audio-gallery {
    width: 100%;
  }
  .audio-details h3 {
    font-size: 12px;
    flex-wrap: wrap;
  }
}
