.audio-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 2%;
}

.audio-details {
  display: flex;
  flex-direction: row; /* iframe à gauche, texte à droite */
  align-items: center; /* centre verticalement */
  justify-content: center; /* centre horizontalement */
  gap: 50px; /* espace entre iframe et texte */
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.audio-details.visible {
  opacity: 1;
  transform: translateY(0);
}

.audio-frame-wrapper {
  width: 300px; /* carré desktop */
  height: 250px;
  position: relative;
  flex-shrink: 0;
}

.audio-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

/* Iframe */
.audio-fade-start {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

.audio-fade-in,
.audio-loaded {
  opacity: 1;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.text-audio {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  gap: 5px;
  flex: 1; /* prend l’espace restant */
  min-width: 100px;
  max-width: 250px;
}

.text {
  color: #5e5e5f;
  font-size: 18px;
  text-align: left;
}

.description-audio {
  font-size: 15px;
  color: #5e5e5f;
  font-weight: 300;
  text-align: left;
}

.description-audio a {
  text-decoration: underline;
}

/* responsive tablette */
@media (max-width: 768px) {
  .audio-gallery {
    padding-right: 5%;
    padding-left: 5%;
  }

  .audio-details {
    gap: 20px;
  }

  .audio-frame-wrapper {
    width: 230px;
    height: 152px;
  }

  .text-audio {
    max-width: 200px;
  }

  .text {
    font-size: 14px;
  }

  .description-audio {
    font-size: 13px;
  }
}

/* responsive mobile */
@media (max-width: 480px) {
  .text-audio {
    max-width: 150px;
  }
}
