.audio-gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.audio-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

@media (max-width: 768px) {
  .audio-details {
    width: 550px;
  }
}
