.portfolio-container {
  width: 100%;
  padding-bottom: 5vh;
}

button:hover {
  cursor: pointer;
}

.portfolio-container button {
  font-size: 23px;
  font-weight: 200;
  border: 1px solid transparent;
  color: #5e5e5f;
  transition: all;
}

.wave {
  width: 100%;
}

.button-div {
  display: flex;
  margin-top: 3.5vh;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.audio {
  border: none;
}

.video {
  border: none;
}

.portfolio-container .selected {
  color: black;
  font-weight: 400;
}

.portfolio-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5vh;
}

hr {
  border: none;
  height: 1px;
  background-color: #5e5e5f;
}

@media (max-width: 768px) {
  .button-div {
    margin-top: 1vh;
  }

  .portfolio-container {
    padding-bottom: 2vh;
  }

  .portfolio-container button {
    font-size: 17px;
  }

  @media (max-width: 360px) {
    .portfolio-content h3 {
      font-size: 30px;
    }
  }
}
