/* fond semi-transparent */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* fondu sombre */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* modale */
.video-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 15px;
  width: 850px;
  max-width: 95%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1001;
}

.close-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.close-video-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-cross {
  font-size: 30px;
  color: black;
}

.video-details-description {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.video-details-description p {
  text-align: center;
  line-height: 20px;
  font-weight: 200;
}

.video-details a {
  text-decoration: underline;
}

.video-details h2 {
  text-align: center;
  font-size: 20px;
}

/* responsive */
@media (max-width: 768px) {
  .video-details {
    width: 550px;
  }
}

@media (max-width: 480px) {
  .video-details {
    width: 95%;
    padding: 15px;
  }
  .video-details-description {
    width: 90%;
  }
  .video-details-description p {
    font-size: 15px;
  }
  .icon-cross {
    font-size: 25px;
  }
  iframe {
    height: 200px;
  }
  .video-details h2 {
    font-size: 19px;
  }
}
