.definitions-texts {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  margin-top: 10vh;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
}

.definitions-texts p {
  line-height: 25px;
  font-size: 18px;
  font-weight: 200;
  width: 45%;
  min-width: 300px;
}

.definitions-texts span {
  font-weight: 500;
  color: black;
}

@media (max-width: 768px) {
  .definitions-texts {
    margin-top: 5vh;
    flex-wrap: wrap;
    padding: 15px;
    gap: 25px;
    justify-content: center;
    overflow-y: auto;
  }

  .definitions-texts p {
    font-size: 16px;
    line-height: 24px;
    width: 45%;
    min-width: 45%;
  }
}
