.header-container {
  height: auto;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 10;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: block;
}

.header-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sub-header {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 100%;
  top: -2vh;
}

.navigation {
  margin-left: 13px;
  flex: 0 0 auto;
  z-index: 2;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
  margin: 0;
  margin-left: 1vw;
  padding: 0;
  font-size: 22px;
  font-weight: 100;
}

.header-titles {
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
}

.header-titles h1 {
  margin: 0;
  display: inline;
  color: #5e5e5f;
  font-weight: 100;
  font-size: 25px;
}

.navigation a {
  color: #5e5e5f;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #000;
}

.navigation a.active {
  color: #000;
  font-weight: 400;
}

@media (max-width: 768px) {
  .header-container {
    position: static;
    margin-bottom: 1vh;
  }

  .sub-header {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }

  .header-logo {
    height: 83px;
  }

  .header-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-titles {
    position: static;
    transform: none;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .header-titles h1 {
    font-size: 15px;
    display: inline;
  }

  .navigation {
    width: 100%;
    margin: 0;
  }

  .navigation ul {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
  }
}
