.container-cat {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container-cat button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.container-cat button:hover {
  background-color: transparent;
}

.selectedCat {
  text-decoration: underline;
}
