.home {
  display: flex;
  width: 50vw;
  margin-left: auto;
  margin-top: 10vh;
  gap: 40px;
  padding-right: 15vw;
}

h2 {
  line-height: 27px;
  color: black;
  font-weight: 200;
}

@media (max-width: 768px) {
  .home {
    display: flex;
    justify-content: space-between; /* Répartit les blocs avec un espace autour d'eux */
    width: 100%; /* Prend toute la largeur sur mobile */
    padding: 0 7vw; /* Padding réduit sur les côtés */
    margin-top: 5vh;
    gap: 20px;
  }
  .home h2 {
    font-size: 15px;
    line-height: 22px;
  }
}
