.contact-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 100px;
}

.contact-infos {
  display: flex;
  justify-content: space-between;
}

.contact-container .right-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

input,
textarea {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 8px;
  color: white;
  font-family: "Futura";
  font-size: 15px;
}

input,
textarea {
  padding: 10px 200px 10px 10px;
}

::placeholder {
  color: white;
  font-family: "Futura";
  justify-self: center;
}

form textarea {
  height: 100px;
}

.submit-form {
  justify-self: center;
  align-self: center;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;

  top: 180px;
  left: 310px;
}

button.submit-form:hover {
  background-color: transparent;
}

@media (max-width: 768px) {
  input,
  textarea {
    padding: 10px 150px 10px 10px;
  }
  .submit-form {
    left: 270px;
  }
}

@media (max-width: 480px) {
  .contact-infos {
    display: flex;
  }
  input,
  textarea {
    padding: 5px 8px;
  }
  .left-column p {
    font-size: 15px;
  }
  .submit-form {
    top: 160px;
    left: 120px;
  }
}
