.contact hr {
  width: 100%;
  margin-bottom: 5vh;
}

.contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.contact img {
  width: 100%;
}

.contact-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-infos {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-infos img {
  width: 70%;
  margin-bottom: 2vh;
}

.contact-container .right-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message-icon {
  position: relative;
}

input,
textarea {
  background-color: transparent;
  border: black 1px solid;
  border-radius: 8px;
  color: black;
  font-family: "Futura";
  font-size: 16px;
}

input,
textarea {
  padding: 15px;
  width: 40vw;
}

::placeholder {
  color: black;
  font-family: "Futura";
  justify-self: center;
  font-weight: 200;
}

form textarea {
  height: 150px;
  resize: none;
}

.submit-form {
  justify-self: center;
  align-self: center;
  background-color: transparent;
  color: #5e5e5f;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

button.submit-form:hover {
  background-color: transparent;
}

.contact-left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
  font-family: "Futura";
}

.contact-left-column div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infos {
  gap: 0.4vh;
}

@media (max-width: 768px) {
  input,
  textarea {
    padding: 7px;
    width: 50vw;
  }

  .contact-infos {
    padding: 10px;
  }

  .contact > img {
    height: 45px;
    object-fit: cover;
  }
  .contact-left-column img {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .contact-infos p {
    font-size: 15px;
  }
}
