.contact-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-container .right-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 8px;
  padding: 7px 16px;
  color: white;
}
