.definitions {
  padding-top: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.definitions-buttons {
  display: flex;
  gap: 100px;
}

.definitions-buttons > div {
  display: flex;
  flex-direction: column;
}

.left-column {
  align-items: flex-start;
}

.right-column {
  align-items: flex-end;
}

.definitions-texts {
  padding: 50px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.definitions-texts p {
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

@media (max-width: 768px) {
  .definitions {
    height: 500px;
  }
  .definitions-buttons {
    gap: 0;
  }
}

@media (max-width: 480px) {
  .definitions {
    height: auto;
  }
  .definitions-texts {
    margin-top: 30px;
    padding: 15px;
  }
  .definitions-texts p {
    font-size: 20px;
    font-weight: 200;
    line-height: 20px;
  }
}

@media (max-width: 360px) {
}
