@import "./assets/fonts/stylesheet.css";

* {
  box-sizing: border-box;
}

a,
ul,
li {
  color: black;
}

body,
button {
  font-family: "Futura";
  background-color: #ffff;
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

p {
  font-size: 18px;
  color: black;
}

html,
body,
#root {
  height: 100%;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
